<div class="text-center mt-5">

  <div class="container w-50">
    <input type="text" class="form-control form-control-lg mt-1 w-50 mx-auto border-dark" placeholder="Asked by" #aucAskedBy>
    <input type="number" class="form-control form-control-lg mt-1 w-50 mx-auto border-dark" placeholder="Price" #aucPrice>
    <button class="btn btn-lg btn-outline-success mt-1" (click)="AddAuction(aucAskedBy, aucPrice)">
      Add Auction
    </button>
  </div>

  <div class="container">
    <div class="card border-info mb-2 w-25">
      <div class="card-body" *ngFor="let auction of (autcionsSubscription | async)">
          <h5 class="card-title">{{auction.askedBy}}</h5>
          <h3 class="card-text">{{auction.askingPrice}}</h3>
      </div>
  </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
